@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bleakwind Buffet Menu</h1>

    <p class="combo-announce">Combine any entree, side and drink for $1 off at checkout!</p>

    <form class="menu">

        <div id="sort-section">
            <div id="search">
                <input type="text" name="SearchTerms" value="@Model.SearchTerms" />
                <input type="submit" value="Search" />
            </div>

            <div id="checkboxes">
                @foreach (string type in ItemFilter.ItemType)
                {
                    <label>
                        <input type="checkbox" name="ItemTypes" value="@type" checked="@Model.ItemTypes.Contains(type)" />
                        @type
                    </label>
                }
            </div>

            <div id="price-sort">
                Minimum Price
                <input name="MinPrice" type="number" min="0" max="10" step=".5" placeholder="min" />
                Maximum Price
                <input name="MaxPrice" type="number" min="0" max="10" step=".5" placeholder="max" />
            </div>

            <div id="calories-sort">
                Minimum Calories
                <input name="MinCalories" type="number" min="0" max="1200" step="50" placeholder="min" />
                Maximum Calories
                <input name="MaxCalories" type="number" min="0" max="1200" step="50" placeholder="max" />
            </div>
        </div>
        

        <div id="results">
            <ul class="menu-entrees">
                <li>
                    <h2 class="title">Menu</h2>
                </li>
                @{
                    foreach (Data.IOrderItem d in @Model.Items)
                    {
                        <li>
                            <div class="menu-item">
                                <div class="menu-name">
                                    @d.ToString()
                                </div>
                                <div class="menu-price">
                                    $@d.Price
                                </div>
                                <div class="menu-calories">
                                    @d.Calories
                                </div>
                            </div>
                        </li>
                    }
                }
            </ul>
        </div>


    </form>

    

</div>
